*{
    margin: 0;
    padding: 0;
    font-family: outfit;
   
}
nav{
    background: transparent;
}
nav p{
    margin: 0px 20px;
}

.heading-parent{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-top: 100px;
    
}
.heading-child-left{
   
    gap: 5px;
    margin-top: 60px;
    width: 100%;
 
}

.heading-child-left h6{
    font-weight: 300;
    letter-spacing: 5px;
}
.heading-child-left h3{
    font-weight: 300;
    text-transform: uppercase;
    
    letter-spacing: 10px;
}
.heading-child-left h1{
    font-weight: 300;
    text-transform: uppercase;
   margin: 3px 0px;
    letter-spacing: 1px;
    font-weight: bold;
    
}
.heading-child-left div i{
    margin: 10px 10px;
   font-size: 24px;
}
.heading-child-left div button{
    margin: 10px 10px;
    border: none;
    padding: 10px 13px;
    border-radius: 10px;
    background: #212747;
    color: white;
    width: 150px;
}

.heading-child-right img{
    width: 100%;
}
.about-section{
    display: flex;
    margin: 20px;
}
.about-section div img{
    width: 500px;
    margin-left: 10px;
}
.about-section-right{
    display: flex;
    flex-direction: column;
}

.about-section-right h1{
    font-weight: bolder;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.about-section-right p{
    text-align: justify;
    width: 90%;
}

.about-section-right button{
    margin: 10px 10px;
    border: none;
    padding: 10px 13px;
    border-radius: 10px;
    background: #212747;
    color: white;
    width: 150px;
} 
.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services-first-heading{
    display: flex;
    justify-content: center;
    

}
.services-first-heading hr{
    width: 30px;
    height: 2px;
    background: black;
    color: red;
    
}

.services-first-heading p{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 5px;
}

.services h2{
    font-weight: bolder;
    color: #212747;
    font-size: 40px;
    letter-spacing: 10px;
}
.services-box-parent-row{
    display: flex;
    justify-content: center;
    margin: 50px 100px;
}

.services-box-child-row{
    display: flex;
    margin: 10px;
   
}
.services-i-tag-div{
    border: 1px solid #212747;
    height: 100px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px -1px #212747;
   
}

.services-box-child-row div i{
    font-size: 40px;
    padding: 15px;
    animation-name: service-box-i-tag;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: alternate;
   
}

.services-box-content-div{
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.services-box-content-div h1{
    font-size: 20px;

    margin-left: 10px;
}
.services-box-content-div p{
    width: 400px;
   
    margin-left: 10px;
}

.skills{
    display: flex;
    justify-content: center;
    margin: 100px;
    flex-direction: column;

}
.skills h2{
    text-align: center;
    font-weight: bolder;
    color: #212747;
    font-size: 40px;
    letter-spacing: 10px;
}

.skills-progress-bar{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px;


}
.skills-progress-bar div{
    width: 200px;
    height: 8px;
}
.skills-progress-bar div h1{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
}
.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.projects h2{
    text-align: center;
    font-weight: bolder;
    color: #212747;
    font-size: 40px;
    letter-spacing: 10px;
}
.projects-parents{
    display: flex;
    justify-content: center;
    margin: 80px 10px;
}
.projects-child-div{
    margin: 10px 50px;
    display: flex;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px -5px #212747;
}
.projects-child-div:hover{
    box-shadow: 0px 0px 5px #212747;
}
.projects-child-div h1{
    font-weight: bolder;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 17px;
}
.projects-parents div img{
    width: 80px;
}

.projects-button-div{
    display: flex;
    gap: 4px;
}

.projects-button-div button{
    border: none;
    padding: 4px 13px;
    border-radius: 10px;
    background: #212747a0;
    color: white;
    
}
.projects-button-div button:hover{
    background: #212747;
}
.github-button:hover{
  background-color: white;
    border: 1px solid green;
    color: green;
}

@media screen and (max-width:1275px) {
    .projects-child-div{
        margin: 20px;
    }
    
}

@media screen and (max-width:1081px) {
    .projects-child-div{
        margin: 0px;
    }
    
}

@media screen and (max-width:972px) {
    .projects-parents{
        flex-wrap: wrap
    }
    .projects-child-div{
        margin: 10px;
    }
    
}



@media screen and (max-width:694px) {
    .projects-child-div{
        display: flex;
        gap: 40px;
        padding: 40px;
        cursor: pointer;
        transition: 0.5s;
       
    }
    .projects-child-div div img{
        width: 80px;
    }
    
}

@keyframes service-box-i-tag{
    to{
        transform: translateY(-10px);
    }
    from{
        transform: translateY(10px);
    }
}

@media screen and (max-width:1077px) {
    .heading-parent{
        flex-direction: column-reverse;
        margin: 0px;
    }
    .heading-child-right{
        margin-top: -100px;
    }
    .heading-child-left{
        margin: 10px;
        margin-top: -100px;
        
    }
}



@media screen and (max-width:810px) {
    .about-section img{
        display: none;
    }
    .about-section{
        margin: 10px;
    }
}


@media screen and (max-width:1113px) {
    .services-box-parent-row{
     flex-direction: column;
    }
    .skills{
        margin: 10px;
    
    }
}


@media screen and (max-width:782px) {
    .skills-progress-bar{
       flex-direction: column;
       margin-top: 0px;
    
    
    }
    .skills-progress-bar div{
        width: 100%;
        height: 8px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .skills-progress-bar div h1{
        font-weight: 300;
        text-transform: uppercase;
        font-size: 17px;
    }
    .services h2{
        text-align: center;
    }
    
}


@media screen and (max-width:476px) {
    .services h2{
        font-size: 30px;
    }

}


@media screen and (max-width:564px) {
    .services-box-parent-row{
        margin: 30px 0px;
    }
    .services-box-content-div p{
        width: 100%;
    }

}